:root {
  --primary-color: #5f0080;
  --secondary-color: #bd76ff;
  --content-color: #333333;
  --point-color: #fa622f;
  --gray-50: #f9f9f9;
  --gray-100: #e1e1e1;
  --gray_200: #333333;
  --gray-300: #a6a6a6;
  --gray-400: #898989;
  --gray-500: #6b6b6b;
  --white: #ffffff;
  --black: #000000;
  --blue-500: #0066ff;
  --info-error: #f03f40;
  --orange: #fa622f;

  --line-height-base: 1.6;
  --font-size-ex: 28px;
  --font-size-xl: 24px;
  --font-size-lg: 20px;
  --font-size-p: 16px;
  --font-size-sm: 12px;
  --font-size-xsmall: 10px;
  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;
}
