@use "/src/sass/abstracts/variables" as var;
@use "/src/sass/abstracts/mixins" as mix;

.register {
  @include mix.flexbox(column, nowrap, center, center);
  width: 640px;
  margin: 80px auto;
  font-size: var.$font-size-p;

  h1 {
    font-size: var.$font-size-lg;
    font-weight: var.$font-weight-600;
    text-align: center;
    margin-bottom: 44px;
  }

  .p-container {
    @include mix.flexbox(row, nowrap, flex-end, center);
    width: 100%;
    p {
      @include mix.padding-block-end(8px);
    }
  }

  .register-container {
    border-top: 2px solid var.$content-color;
  }

  .input-box {
    position: relative;
  }

  .arrow {
    width: 16px;
    height: 16px;
  }
  .error-area {
    position: relative;
  }

  .error-message {
    position: absolute;
    @include mix.margin-block-start(12px);
    @include mix.margin-inline-start(5px);
    left: 145px;
    top: 35px;
    color: var.$primary-color;
    display: none;
    font-size: var.$font-size-sm;
  }

  .is--invalid + .error-message {
    display: block;
  }

  .btn-submit {
    @include mix.margin-block-start(40px);
  }
}
