<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>필터 아코디언</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" href="/src/sass/main.scss" />
  </head>
  <body>
    <div class="filter-accordion">
      <h1>필터</h1>
      <div class="accordion-box">
        <details open>
          <summary>카테고리</summary>
          <div>
            <p>카테고리 내용을 여기에 입력하세요.</p>
          </div>
        </details>
      </div>
      <div class="accordion-box">
        <details>
          <summary>배송</summary>
          <div>
            <p>배송 옵션을 여기에 입력하세요.</p>
          </div>
        </details>
      </div>
      <div class="accordion-box">
        <details>
          <summary>가격</summary>
          <div class="radio-group">
            <input
              class="radio-button"
              type="radio"
              id="price1"
              name="gender" />
            <label for="price1">6,890원 미만</label>
            <input
              class="radio-button"
              type="radio"
              id="price2"
              name="gender" />
            <label for="price2">6,890원 ~ 10,000원</label>
            <input
              class="radio-button"
              type="radio"
              id="price3"
              name="gender" />
            <label for="price3">10,000원 ~ 14,900원</label>
            <input
              class="radio-button"
              type="radio"
              id="price4"
              name="gender" />
            <label for="price4">14,900원 이상</label>
          </div>
        </details>
      </div>
      <div class="accordion-box">
        <details>
          <summary>브랜드</summary>
          <div>
            <p>브랜드 옵션을 여기에 입력하세요.</p>
          </div>
        </details>
      </div>
      <div class="accordion-box">
        <details>
          <summary>혜택</summary>
          <div class="agreement-option">
            <input type="checkbox" id="terms" name="terms" />
            <label for="terms"> 이용약관 동의 (필수) </label>
          </div>
          <div class="agreement-option">
            <input type="checkbox" id="terms" name="terms" />
            <label for="terms"> 이용약관 동의 (필수) </label>
          </div>
        </details>
      </div>
      <div class="accordion-box">
        <details>
          <summary>유형</summary>
          <div>
            <p>유형 옵션을 여기에 입력하세요.</p>
          </div>
        </details>
      </div>
    </div>
  </body>
</html>
