<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>버튼 컴포넌트</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" href="/src/sass/main.scss" />
  </head>
  <body>
    <!-- 버튼- 중복확인, 인증번호, 로그인, 가입하기, 회원가입 , 후기작성하기, 문의하기, 배송지 변경, 주문하기 -->
    <!-- 작은 버튼  -->
    <button type="button" class="btn-line btn-small">중복확인</button>
    <button type="button" class="btn-line btn-small">인증번호</button>
    <br />
    <button type="button" class="btn-fill btn-small">문의하기</button>
    <button type="button" class="btn-fill btn-small">후기 작성하기</button>
    <br />
    <!-- 장바구니 페이지 내 버튼 -->
    <button type="button" class="btn-line btn-medium">배송지 변경</button>
    <button class="btn-fill">주문하기</button>
    <br />
    <!-- submit 버튼 -->
    <button class="btn-xlarge">로그인</button>
    <button class="btn-xlarge">가입하기</button>
    <br />
    <!-- 링크 형태의 버튼(회원가입) -->
    <a href="#" class="btn-link btn-line" aria-label="회원가입 페이지로 이동">회원가입</a>
  </body>
</html>
