<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DETAIL PAGE</title>
  <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
  <link rel="stylesheet" href="/src/sass/base/_reset.scss" />
  <link rel="stylesheet" href="/src/sass/base/_default.scss" />
  <link rel="stylesheet" href="/src/sass/components/detail.scss" />
</head>

<body>
  <main>
    <div class="product-detail-image">
      <img src="/src/assets/detail-img01.png" alt="풀무원 탱탱쫄면 4개입 포장 이미지" />
    </div>
    <section>
      <div class="detail-info-delivery">샛별배송</div>
      <div class="detail-product-name">
        <h1>[풀무원] 탱탱쫄면 (4개입)</h1>
        <p class="detail-product-description">튀기지 않아 부담 없는 매콤함</p>
      </div>
      <h2 class="detail-info-price">
        <span class="detail-info-price-off"></span>
        <span class="detail-info-price-number">4,980</span>
        <span class="detail-info-price-won">원</span>
      </h2>
      <p class="detail-loggedOut-benefit-message1">로그인 후, 적립 혜택이 제공됩니다.</p>
      <ul>
        <li>
          <dt>배송</dt>
          <dd>
            <p>샛별배송</p>
            <p>23시 전 주문 시 내일 아침 7시 전 도착 </p>
            <p>(대구 부산 울산 샛별배송 운영시간 별도 확인)</p>
          </dd>
        </li>
        <li>
          <dt>판매자</dt>
          <dd>
            <p>칼리</p>
          </dd>
        </li>
        <li>
          <dt>포장타입</dt>
          <dd>
            <p>상온  (종이포장)</p>
            <p>텍베베송은 에코 포장이 스티포롬으로 대체됩니다.</p>
          </dd>
        </li>
        <li>
          <dt>판매단위</dt>
          <dd>
            <p>1봉</p>
          </dd>
        </li>
        <li>
          <dt>중량/용량</dt>
          <dd>
            <p>123g*4봉</p>
          </dd>
        </li>
        <li>
          <dt>원산지</dt>
          <dd>
            <p>상세페이지 별도표기</p>
          </dd>
        </li>
        <li>
          <dt>알레르기정보</dt>
          <dd>
            <p>-대두, 밀, 쇠고기 함유</p>
            <p>-계란, 우유, 메밀, 땅콩, 고등어, 게, 돼지고기, 새우, 복숭아, 토마토, 아황산류, 호두, 잣, 닭고기, 오징어, 조개류(굴, 전복, 홍합 포함)를 사용한 제품과 같은 제조시설에서 제조</p>
          </dd>
        </li>
      </ul>
      <!-- 상품선택 -->
      <div>
        <div class="detail-info-choice">
          <dt>상품선택</dt>
          <div>
            <div>
              <p>[풀무원] 탱탱쫄면 (4개입)</p>
            </div>
            <div>
              <div class="detail-info-counter">
                <button class="detail-counter-button" id="decrease">-</button>
                <span class="detail-counter-number" id="counter">0</span>
                <button class="detail-counter-button" id="increase">+</button>
              </div>
              <div class="detail-info-totalPrice">
                <span id="total-price">0</span> 원
              </div>
            </div>
          </div>
        </div>
      <!-- 총 상품금액 -->
        <div class="totalPrice-section">
          <div class="detail-info-totalPrice">
            <span>총 상품금액:</span>
            <span>4,980</span>
            <span>원</span>
          </div>
          <div class="detail-loggedOut-benefit-message2">
            <span>적립</span>
            <span>로그인 후, 적립 혜택 제공</span>
          </div>
          <div>
            <button type="button" class="detail-btn-wishlist">
              <span>
                <img src="/src/assets/detail-heartIcon.png" alt="찜하기 버튼" />
              </span>
            </button>
            <button type="button" class="detail-btn-bell">
              <span>
                <img src="/src/assets/detail-bell-icon.png" alt="알림받기 버튼" />
              </span>
            </button>
            <div class="detail-container-cart-btn">
              <button type="submit">
                <span>장바구니 담기</span>
              </button>
            </div>
          </div>
        </div>
      </div>

    </section>
  </main>
</body>

</html>