<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DETAIL PAGE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" href="/src/sass/main.scss" />
</head>
<body>
<main>
    <div class="product-detail-image">
        <img id="product-thumbnail" src="" alt="" />
    </div>
    <section aria-labelledby="detail-page-heading">
        <div class="detail-info-delivery" id="product-delivery" aria-label="배송 정보"></div>
        <div class="detail-product-name">
            <h1 id="product-title"></h1>
            <p class="detail-product-description" id="product-description"></p>
        </div>
        <h2 class="detail-info-price" aria-label="상품 가격">
            <span class="detail-info-price-off" id="product-sale" aria-hidden="true"></span>
            <span class="detail-info-price-number" id="product-price"></span>
            <span class="detail-info-price-won">원</span>
        </h2>
        <p class="detail-loggedOut-benefit-message1">로그인 후, 적립 혜택이 제공됩니다.</p>
        <ul class="detail-info-content-fontColor1 detail-info-ul" id="product-badges">
            <!-- 동적으로 채워질 부분 -->
        </ul>
        <!-- 상품선택 -->
        <div>
            <li class="detail-info-choice">
                <dt class="detail-info-content-fontColor1">상품선택</dt>
                <dd class="detail-container-conuter-small">
                    <div class="detail-info-content-fontColor1">
                        <p id="product-choice"></p>
                    </div>
                    <div class="detail-container-counter-medium" aria-label="수량 선택">
                        <div class="detail-info-counter">
                            <button class="detail-counter-button" id="decrease" aria-label="수량 감소">-</button>
                            <span class="detail-counter-number" id="counter">0</span>
                            <button class="detail-counter-button" id="increase" aria-label="수량 증가">+</button>
                        </div>
                        <div class="detail-info-totalPrice-small">
                            <span id="total-price" aria-label="총 가격">0</span>원
                        </div>
                    </div>
                </dd>
            </li>
            <!-- 총 상품금액 -->
            <div class="totalPrice-section">
                <div class="detail-info-totalPrice">
                    <span>총 상품금액:</span>
                    <span id="total-product-price">0</span>
                    <span>원</span>
                </div>
                <div class="detail-loggedOut-benefit-message2" aria-label="적립 혜택 안내">
                    <div class="detail-loggedOut-benefit-circle">
                        <span class="detail-loggedOut-benefit-message2-text">적립</span>
                    </div>
                    <span class="detail-loggedOut-benefit-message2-text">로그인 후, 적립 혜택 제공</span>
                </div>
                <div class="detail-container-service-btn">
                    <button type="button" class="detail-btn-wishlist" aria-label="찜하기">
                        <span><img src="/src/assets/detail-heartIcon.png" alt="찜하기" /></span>
                    </button>
                    <button type="button" class="detail-btn-bell" aria-label="알림받기">
                        <span><img src="/src/assets/detail-bell-icon.png" alt="알림받기" /></span>
                    </button>
                    <div class="detail-container-cart-btn">
                        <button type="submit" tabindex="0"><span>장바구니 담기</span></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>
