<!doctype html>
<html lang="ko-KR">
  <head>
    <title>마켓칼리</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" href="/src/sass/main.scss" />
    <link rel="stylesheet" href="/sprites/style.css" />
    <script type="module" src="/main.js"></script>
    <script type="module" src="/src/components/header.js"></script>
  </head>
  <body>
    <header class="content-center">
      <div class="header-list-member">
        <ul>
          <li><a href="/" class="join">회원가입</a></li>
          <li><span aria-hidden="true">&#124;</span><a href="/">로그인</a></li>
          <li><span aria-hidden="true">&#124;</span><a href="/">고객센터</a></li>
        </ul>
      </div>
      <div class="header-wrap">
        <h1>
          <a href="/"><img src="/logo.svg" alt="마켓칼리로고" />마켓칼리</a>
        </h1>
        <div class="header-input-search">
          <label for="inputSearch" class="sr-only">검색어를 입력해주세요</label>
          <input type="text" id="inputSearch" placeholder="검색어를 입력해주세요" />
          <button type="button"><img src="/src/assets/icon/Search.png" alt="검색 버튼" /></button>
        </div>
        <ul class="header-list-other">
          <li>
            <a href="/"><img src="/src/assets/icon/Location.png" alt="배송지 설정" /></a>
          </li>
          <li>
            <a href="/"><img src="/src/assets/icon/Heart.png" alt="찜한 상품" /></a>
          </li>
          <li>
            <a href="/"><img src="/src/assets/icon/Cart-1.png" alt="장바구니" /></a>
          </li>
        </ul>
      </div>
    </header>
    <div class="header-category-wrap">
      <div class="header-category content-center">
        <nav>
          <div class="header-btn-category" tabindex="0"><img src="/src/assets/icon/Hamburger.png" alt="" />카테고리</div>
          <div class="header-category-detail">
            <ul>
              <li>
                <a href="/"><img src="/src/assets/icon/gift.png" alt="" />선물하기</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/vegetable.png" alt="" />채소</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/fruit.png" alt="" />과일 &middot; 견과 &middot; 쌀</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/seaFood.png" alt="" />수산 &middot; 해산 &middot; 건어물</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/meet.png" alt="" />정육 &middot; 계란</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/cook.png" alt="" />국 &middot; 반찬 &middot; 메인요리</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/salad.png" alt="" />샐러드 &middot; 간편식</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/oil.png" alt="" />면 &middot; 양념 &middot; 오일</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/coffee.png" alt="" />생수 &middot; 음료 &middot; 우유 &middot; 커피</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/snack.png" alt="" />간식 &middot; 과자 &middot; 떡</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/bread.png" alt="" /> 베이커리 &middot; 치즈 &middot; 델리</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/health.png" alt="" />건강식품</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/wine.png" alt="" />와인</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/traditional_liquor.png" alt="" />전통주</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/detergent.png" alt="" />생활용품 &middot; 리빙 &middot; 캠핑</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/cosmetics.png" alt="" />스킨케어 &middot; 메이크업</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/shampoo.png" alt="" />헤어 &middot; 바디 &middot; 구강</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/food_2.png" alt="" />주방용품</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/homeAppliances.png" alt="" />가전제품</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/dog.png" alt="" />반려동물</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/baby.png" alt="" />베이비 &middot; 키즈 &middot; 완구</a>
              </li>
              <li>
                <a href="/"><img src="/src/assets/icon/travel.png" alt="" />여행 &middot; 티켓</a>
              </li>
            </ul>
          </div>
        </nav>
        <ul class="header-list-title">
          <li><a href="/">신상품</a></li>
          <li><a href="/">베스트</a></li>
          <li><a href="/">알뜰쇼핑</a></li>
          <li><a href="/">특가/혜택</a></li>
        </ul>
        <div class="header-button-delivery">
          <a href="/"><span>샛별&middot;낮</span> 배송안내</a>
        </div>
      </div>
    </div>
  </body>
</html>
