<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>문의 컴포넌트</title>
    <link rel="icon" href="./favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <script type="module" src="/main.js"></script>
  </head>
  <body>
    <section class="inquiry-wrap content-center">
      <div class="inquiry-title">
        <h4>상품문의</h4>
        <button type="button" class="btn btn-fill btn-small">문의하기</button>
      </div>
      <div class="inquiry-info">
        <ul>
          <li>상품에 대한 문의를 남기는 공간입니다. 해당 게시판의 성격과 다른 글은 사전동의 없이 담당 게시판으로 이동될 수 있습니다.</li>
          <li>배송관련, 주문(취소/교환/환불)관련 문의 및 요청사항은 마이컬리 내 1:1 문의에 남겨주세요.</li>
        </ul>
      </div>
      <div class="inquiry-list">
        <span class="inquiry-count">총 2개</span>
        <details>
          <summary><span class="notice-badge">공지</span> 판매(일시)중단 제품 안내 (22.11.10 업데이트)</summary>
          <div class="inquiry-text">
            <p>
              안녕하세요.<br /><br />

              판매(일시)중단된 제품 목록입니다.<br /><br />

              상품 1 : 판매중단 <br />
              상품 2 : 판매중단 <br />
              상품 3 : 판매중단 <br />
              상품 4 : 판매중단
            </p>
          </div>
        </details>
        <details class="inquiry-member" open>
          <summary>팩이 터져서 왔어요</summary>
          <div class="inquiry-text">
            <p class="question">
              스티로폼 박스도 손상되어 있어 포장이 터져 엉망이네요 <br />
              환불 요청합니다.
            </p>
            <p class="answer">
              안녕하세요. 칼리입니다. <br /><br />믿고 찾아주신 상품에 불편을 드려 정말 죄송합니다.<br /><br />
              더불어, 해당 게시판은 실시간으로 상담이 어려워 순차적으로 답변드리고 있는 관계로 신속하게 답변 드리지 못하여 대단히 죄송합니다.<br /><br />
              다행히도 고객님의 불편하셨던 사항은 고객행복센터를 통해 안내 받으신 점 확인하였습니다.<br /><br />
              불편을 드려 정말 죄송할 따름이며, 고객님께 늘 신선하고 최상의 상품을 불편 없이 전달드리기 위해 최선을 다하는 칼리가 되겠습니다.<br /><br />
              칼리 드림.
            </p>
          </div>
        </details>
        <details class="inquiry-member" open>
          <summary class="secret-text">비밀글입니다.</summary>
        </details>
        <details class="inquiry-member" open>
          <summary class="secret-text">비밀글입니다.</summary>
        </details>
        <details class="inquiry-member" open>
          <summary class="secret-text">비밀글입니다.</summary>
        </details>
      </div>
    </section>
  </body>
</html>
