<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
  <link rel="stylesheet" href="/src/sass/main.scss" />
  <script src="/src/components/paging-data.js"></script>
  <title>paging</title>
</head>

<body>
  <div class="pagination">
    <ul>
      <li>
        <div class="page-container">
          <p class="page-number"></p>
          <p class="page-title">title</p>
        </div>
      </li>
    </ul>
    <div class="pagination-container">
      <button class="prev-btn">
        <img src="/src/assets/prev-btn.png" alt="이전 페이지로 돌아가기" />
      </button>
      <div class="page-number-wrapper"></div>
      <button class="next-btn">
        <img src="/src/assets/next-btn.png" alt="다음 페이지로 돌아가기" />
      </button>
    </div>
  </div>

  <script src="/src/components/paging.js"></script>
</body>

</html>