<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>product-card</title>
  <link rel="stylesheet" href="./../sass/components/product-card.scss" />
</head>
<body>
  <!-- swiper.js 적용 예정 -->
  <ul class="product-card-list">
    <li class="product-card">
      <a href="" class="product-card-link">
        <div class="product-card-thumb">
          <img src="/src/assets/product01.svg" alt=""  class="product-card-thumb-img" />
        </div>
        <p class="product-card-description">
          달콤하게 만나는 부사
        </p>
        <b class="product-card-title">
          고랭지 부사 사과 1.3kg (4~5입)
        </b>
        <div class="product-card-info-price">
          <span class="product-cart-sale">24%</span>
          <span class="product-cart-price">24,500 원</span>
        </div>
        <div class="product-card-cost">32,500 원</div>
        <div class="product-card-badges">
          <span class="product-card-badges badges-primary">Karly Only</span>
          <span class="product-card-badges badges-info">한정수량</span>
          <span class="product-card-badges badges-info">희소가치 프로젝트</span>
        </div>
      </a>
      <button type="button" class="button-icon-cart">
        <img src="/src/assets/icon-cart.svg" alt="장바구니 담기" class="icon-cart" />
      </button>
    </li>
  </ul>
</body>
</html>