<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>product-card</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
  <link rel="stylesheet" href="/src/sass/main.scss" />
</head>
<body>
  <ul class="product-card-list">
    <li class="product-card">
      <a href="#" aria-label="상품링크" class="product-card-link">
        <b class="product-card-title">
          고랭지 부사 사과 1.3kg (4~5입)
        </b>
        <p class="product-card-early-delivery">샛별배송</p>
        <p class="product-card-description">
          달콤하게 만나는 부사
        </p>
        <div class="product-card-info-price">
          <span class="product-cart-sale">24%</span>
          <span class="product-cart-price">24,500 원</span>
        </div>
        <div class="product-card-cost">32,500 원</div>
        <div class="product-card-badges">
          <span class="product-card-badge badges-primary">Karly Only</span>
          <span class="product-card-badge badges-info">한정수량</span>
          <span class="product-card-badge badges-info">희소가치 프로젝트</span>
        </div>
      </a>

      <div class="product-card-thumb">
        <button type="button" aria-label="장바구니 담기" class="product-card-button-icon-cart">
          <img src="/src/assets/icon-cart.png" alt="장바구니 담기" class="product-card-icon-cart" />
        </button>
        <a href="#" aria-label="상품링크">
          <img src="/src/assets/product01.png" alt="고랭지 부사 사과 1.3kg (4~5입) 썸네일"  class="product-card-thumb-img" />
        </a>
      </div>

    </li>
  </ul>
</body>
</html>