<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>리뷰 컴포넌트</title>
    <link rel="icon" href="./favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <script type="module" src="/src/layout/review.js"></script>

    <script type="module" src="/main.js"></script>
  </head>
  <body>
    <section class="review-wrap content-center">
      <div class="review-title">
        <h4>상품후기</h4>
        <button type="button" class="btn btn-fill btn-small">후기 작성하기</button>
      </div>
      <div class="review-info">
        <b>글후기 50원 적립금 혜택이 있어요.</b>
        <ul>
          <li>퍼플, 더퍼플은 2배 적립 (100원) / 주간 베스트 후기로 선정 시 5,000원 추가 적립</li>
          <li>후기 작성은 배송완료일로부터 30일 이내 가능합니다.</li>
          <li>작성하신 후기는 확인 후 적립금이 지급됩니다. (영업일 기준 평균 1~2일 소요)</li>
        </ul>
      </div>
      <div class="review-list">
        <span class="review-count">총 2개</span>
      </div>
    </section>
  </body>
</html>
