<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>장바구니 팝업 컴포넌트</title>
    <link rel="icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"
    />
    <link rel="stylesheet" href="/src/sass/main.scss" />
  </head>
  <body>
    <div id="cart-toast" class="cart-toast">
      <span class="cart-toast-title">"탱탱쫄면"</span>
      <span>장바구니에 상품을 담았습니다!</span>
    </div>
  </body>
</html>
