@use '/src/sass/abstracts/variables' as var;
@use '/src/sass/abstracts/mixins' as mix;

.btn,
.btn-link {
  @include mix.radius(xs);
  @include mix.size(100%, 44px);
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid var.$primary-color;
  border-radius: 4px;

  background-color: var.$white;
  color: var.$primary-color;
  font-size: var.$font-size-p;

  cursor: pointer;
  text-decoration: none;
}

.btn-link {
  height: 54px;
}

// white 버튼
.btn-line {
  background-color: var.$white;
  border: 1px solid var.$primary-color;
  color: var.$primary-color;
}

// purple 버튼
.btn-fill {
  background-color: var.$primary-color;
  border: none;
  color: var.$white;
}

// 버튼 사이즈
.btn-small {
  width: 144px;
}

.btn-medium {
  width: 244px;
}

.btn-large {
  width: 284px;
}

.btn-xlarge {
  width: 340px;
}

// submit
.btn-submit {
  height: 54px;
  padding: 0;
  background-color: var.$primary-color;
  color: var.$white;
  font-size: var.$font-size-p;
}
