@use '/src/sass/abstracts/variables' as var;
@use '/src/sass/abstracts/mixins' as mix;

.sr-only {
  @include mix.a11yHidden;
}

.asterisk {
  color: var.$info-error;
}

.register-container {
  @include mix.flexbox(column, nowrap);
  @include mix.inline-size(100%);
  line-height: var.$line-height-base;

  .input-box {
    @include mix.flexbox(row, nowrap, flex-start, center, 8px);
    @include mix.marginY(20px);
  }

  label {
    width: 139px;
  }

  .text-input {
    @include mix.size(333px, 44px);
    @include mix.radius(xs);
    @include mix.paddingX(20px);
    border: 1px solid var.$gray-300;
    font-size: var.$font-size-p;

    &:focus {
      outline: none;
      border-color: var.$black;
    }
  }

  .user-password-check {
    label {
      font-weight: var.$font-weight-600;
    }
  }

  .birth-field {
    input {
      text-align: center;

      &::placeholder {
        text-align: center;
      }
    }
  }
}

.login-container {
  @include mix.flexbox(column, nowrap, center, center, 12px);

  .text-input {
    @include mix.size(340px, 50px);
    @include mix.radius(xs);
    @include mix.paddingX(20px);
    border: 1px solid var.$gray-300;
    font-size: var.$font-size-p;

    &:focus {
      outline: none;
      border-color: var.$black;
    }
  }
}
