@use "/src/sass/abstracts/variables" as var;
@use "/src/sass/abstracts/mixins" as mix;

.register-container{
  @include mix.flexbox(column, nowrap, center, null);
  width: 100%;
  
  .input-box{
    @include mix.flexbox(row, nowrap, space-between);
    @include mix.marginY(20px)
  }
}

.a11y{
  @include mix.a11yHidden;
}

.text-input {
  @include mix.radius(xs);
  @include mix.paddingX(20px);
  width: 333px;
  height: 44px;
  border: 1px solid var.$gray-300;
  font-size: var.$font-size-p;
}

.birth-field{
  input{
    text-align: center;

    &::placeholder{
      text-align: center;
    }
  }
}

.asterisk{
  color: var.$info-error;
}
 


