@use "/src/sass/abstracts/variables" as var;
@use "/src/sass/abstracts/mixins" as mix;

.pagination {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.page-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var.$gray-100;
  margin: 15px;
}

.page-title {
  font-size: var.$font-size-p;
}

.page-number {
  font-size: var.$font-size-p;
  padding: 15px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.pagination-container button {
  border: 1px solid var.$gray-100;
  width: 34px;
  height: 34px;
}

.page-number-wrapper {
}

.selected {
  font-weight: var.$font-weight-700;
  font-size: var.$font-size-p;
  color: var.$primary-color;
}