@use "/src/sass/abstracts/variables" as var;
@use "/src/sass/abstracts/mixins" as mix;

.popup-wrap {
  @include mix.radius(xl);
  width: 800px;
  background-color: var.$white;
  font-family: var.$base-font-family;
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid var.$gray-400;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .popup-title {
    @include mix.flexbox($justify: space-between);
    padding-bottom: 20px;

    h3 {
      font-size: var.$font-size-xl;
      margin: 0;
    }

    button.close-button {
      background-color: transparent;
      background-image: url("/icon/stack.svg#cancel");
      border: 0;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }

  .product-info {
    @include mix.flexbox($items: center);
    padding: 16px 0;
    border-top: 1px solid var.$gray-100;
    border-bottom: 1px solid var.$gray-100;

    img {
      @include mix.inline-size(72px);

      margin-right: 24px;
    }
  }

  .review_guide {
    @include mix.block-size(30px);
    position: relative;

    b {
      @include mix.margin-block-start(10px);
      position: absolute;
      right: 0;
      text-align: right;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.2px;
      color: var.$primary-color;
    }

    span {
      @include mix.inline-size(600px);
      @include mix.padding(14px);
      @include mix.radius(xs);
      display: none;
      position: absolute;
      top: 30px;
      right: 0;
      background-color: #787878;
      color: var.$white;
      font-size: 14px;
      line-height: 1.2;
      font-weight: normal;
    }
    b:hover + span,
    b:focus + span {
      display: block;
    }
  }
  .write-wrap {
    @include mix.paddingY(16px);
    border-bottom: 1px solid var.$gray-100;

    .write-title {
      @include mix.flexbox($justify: space-between, $items: center);
      margin-bottom: 12px;

      label {
        width: 100px;
      }

      input {
        @include mix.radius(xs);
        width: 634px;
        height: 44px;
        padding: 0;
        padding-left: 20px;
        border: 1px solid var.$gray-300;
      }
    }
    .write-text {
      @include mix.flexbox($justify: space-between, $items: flex-start);

      label {
        width: 100px;
        padding-top: 8px;
      }
    }

    textarea {
      @include mix.radius(xs);
      width: 634px;
      height: 200px;
      padding: 16px;
      resize: none;
      font-family: var.$base-font-family;
      line-height: 1.5;
      border: 1px solid var.$gray-300;
    }

    textarea::placeholder {
      color: var.$gray-400;
    }
  }
  .secret-inquiry {
    position: relative;
    padding-left: 100px;
    padding-top: 18px;

    input {
      position: absolute;
      appearance: none;
      width: 24px;
      height: 24px;
    }

    label {
      display: inline-block;
      line-height: 24px;
      background: url(/src/assets/icon/unchecked.png) no-repeat 0 0 / contain;
      padding-left: 1.875rem;
    }

    input:checked + label {
      background-image: url(/src/assets/icon/checked.png);
    }
  }
}

.popup-btn {
  @include mix.flexbox($justify: center);
  margin-top: 20px;

  button {
    @include mix.radius(xs);
    width: 186px;
    height: 54px;
    border: 0;
    background-color: var.$white;
    cursor: pointer;
  }

  .btn-cancel {
    border: 1px solid var.$gray-100;
    margin-right: 12px;
  }

  .btn-register {
    background-color: var.$primary-color;
    color: var.$white;
  }
}
.dim {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
}
