@import "./../abstracts/variables";
@import "./../abstracts/mixins";

.radio-group{
  display: flex;
  justify-content: space-between;
}

.radio-button {
  position: absolute;
  opacity: 0;
}

label{
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  font-size: $font-size-p;
}

// 기본 상태의 원
label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid $gray-200;

}

//선택된 상태의 원 
.radio-button:checked + label::before {
  border: 1px solid $primary-color;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KICA8Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMiIgZmlsbD0iIzVGMDA4MCIvPgogIDxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjUiIGZpbGw9IiNDNEM0QzQiLz4KPC9zdmc+Cg==');
  background-size:cover
}
