@use "/src/sass/abstracts/variables" as var;
@use "/src/sass/abstracts/mixins" as mix;

header {
  background-color: white;
}

.header-list-member {
  @include mix.flexbox($direction: row-reverse);
  margin-top: 12px;

  ul {
    @include mix.flexbox();

    li > a {
      font-size: var.$font-size-sm;
      margin: 0 12px;

      &.join {
        color: var.$primary-color;
      }
    }

    li > span {
      font-size: var.$font-size-sm;
      color: #d9d9d9;
    }

    li:last-child a {
      margin-right: 0;
    }
  }
}

h1 {
  a {
    @include mix.flexbox($items: center);
    color: var.$primary-color;
    font-weight: var.$font-weight-600;
    font-size: 22px;

    img {
      margin-right: 12px;
    }
  }
}

.header-wrap {
  @include mix.flexbox($justify: space-between, $items: center);
  margin-top: 20px;

  .header-input-search {
    @include mix.flexbox($justify: space-between, $items: center);
    @include mix.radius(xs);
    height: 48px;
    border: 1px solid var.$primary-color;
    padding: 5px 20px;

    input {
      width: 324px;
      border: 0;
      font-size: var.$font-size-p;
      outline: transparent;
    }

    button {
      width: 36px;
      height: 36px;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      padding: 0;
      background: url(/icon/stack.svg#search) no-repeat left top;
      background-size: 36px;
    }
  }

  .header-list-other {
    @include mix.flexbox($items: center, $gap: 20px);

    svg {
      @include mix.size(36px, 36px);
    }
  }
}

.header-category-wrap {
  position: sticky;
  top: 0;
  z-index: 15;
  background-color: var.$white;
}

.header-category {
  @include mix.flexbox($justify: space-between, $items: center);
  height: 72px;

  nav {
    position: relative;

    .header-btn-category {
      @include mix.flexbox($items: center);

      img,
      svg {
        @include mix.size(16px, 14px);
        margin-right: 12px;
      }
    }

    .header-category-detail {
      display: none;

      &.is-active {
        display: block;
      }
    }

    ul {
      @include mix.flexbox($direction: column);
      position: absolute;
      top: 45px;
      z-index: 10;
      width: 248px;
      height: calc(100vh - 200px);
      background-color: var.$white;
      border: 1px solid var.$gray-300;
      overflow-y: scroll;

      li {
        padding: 8px 0 8px 12px;
      }

      li:hover {
        background-color: var.$gray-50;

        a {
          color: var.$primary-color;
        }
      }

      & a {
        @include mix.flexbox($items: center);
        color: var.$gray-200;
        font-weight: 500;
        letter-spacing: -0.3px;
      }

      & a > img,
      & a > svg {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        color: #f2ff4f;
      }

      & a:hover > svg path {
        stroke: var.$primary-color;
        stroke-width: 3;
        fill: currentColor;
      }
    }
  }

  .header-list-title {
    @include mix.flexbox($justify: space-between);
    text-align: center;

    li {
      width: 150px;
    }

    & a {
      font-weight: var.$font-weight-600;
    }

    & a:hover {
      color: var.$primary-color;
      border-bottom: 1px solid var.$primary-color;
    }
  }

  .header-button-delivery {
    @include mix.radius(lg);
    border: 1px solid var.$gray-300;
    padding: 4px 8px;

    a {
      font-size: 13px;
      font-weight: 500;
    }

    & span {
      color: var.$primary-color;
    }
  }
}
