@use "/src/sass/abstracts/variables" as var;
@use "/src/sass/abstracts/mixins" as mix;


.main-container{
  @include mix.flexbox(column, nowrap, null, null, 40px);
  @include mix.padding-block-end(40px)
}


.visual{
  @include mix.size(100%, 370px);
  background:url(/src/assets/banner05.jpg) no-repeat center center;
}

.main-title{
  @include mix.marginY(40px);
  font-size:var.$font-size-lg;
  font-weight:var.$font-weight-700;
  text-align:center;
}